.popup .overlay{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vh;
    height: 100vh;
    background-color: rgba(0, 0, 0, .7);
    z-index: 1;
}

.popup .cotent{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% -50%);
    background: #fff;
    width: 450px;
    height: 220px;
    z-index: 2;
}